main.main-home.main-full
  .container
    .flex-filter
      .top-teacher data-top-name=@topTeacher.name data-top-surname=@topTeacher.surname
        .top-teacher__avatar--wrapper
          .top-teacher__avatar data-top-avatar=@topTeacher.avatar style="background-image: url(/teachers/#{@topTeacher.avatar})"
        .top-teacher__info--wrapper
          .top-teacher__info
            .top-teacher__rate = '#1'
            .top-teacher__fullname = @topTeacher.name + ' ' + @topTeacher.surname
            a href="/toplist" = 'Рейтинг'
    = form_with url: '/search', method: :post, class: 'home__form'
      .home__form--wrapper
        input.home__form--field type="text" name="search" autocomplete="off" placeholder="Найти преподавателя"
        input.home__form--button type="submit" value="" onclick="$('.home__form--field').focus()"
      .home__form--response  onsubmit="$('.home__form--field').focus()"
.shade
= render 'layouts/footer'
css:
  .header{
    /*position: fixed;*/
    background: transparent;
    box-shadow: none;
  }
coffee:
  $(document).ready ->
    getPosition = (element) ->
      xPosition = 0;
      yPosition = 0;
      xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
      yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
      element = element.offsetParent
      console.log(yPosition)
      {x: xPosition, y: yPosition}


    $(".home__form")
    .on "ajax:send", () ->
      $('.home__form--response').html "<div class='response'><span class='empty'>Поиск</span></div>"
    .on "ajax:success", (event) ->
      [data, status, xhr] = event.detail
      response = JSON.parse(xhr.responseText)
      htmlResponse = ""
      iterate = (teacher) ->
        teacher.averageCost = average teacher.costs
        htmlResponse +=
          "<div class='teacher' data-id=#{teacher.id}>
            <div class='teacher__avatar--wrapper'>
              <a href='/teacher/#{teacher.id}'>
                <div class='teacher__avatar' style='background-image: url(/teachers/#{teacher.avatar})' data-avatar='#{teacher.avatar}'></div>
              </a>
            </div>
            <div class='teacher__info'>
              <h3 class='teacher__name' data-name='#{teacher.surname + ' ' + teacher.name}'><a href='/teacher/#{teacher.id}'>#{teacher.surname + ' ' + teacher.name}</a></h3>
              <a class='teacher__university' href='/university/#{teacher.id}' data-university='#{teacher.university.name}'>#{teacher.university.name}</a>
            </div>
            <div class='teacher__rate--wrapper'>
              <span class='teacher__rate' data-rate='#{teacher.averageCost}'>#{teacher.averageCost.toFixed(1)}</span>
            </div>
          </div>"
      iterate teacher for teacher in response
      query = $('.home__form--field').val()
      htmlResponse = if htmlResponse == "" then "<span class='empty'>Ничего не найдено</span>" else htmlResponse += "<a href='/search?search=#{query}' class='next-button'><i class='fa fa-angle-right'></i></a>"
      $(".response").removeClass('animated').addClass('anim fadeOutDown')
      deleteResponse = () ->
        $('.response.fadeOutDown').remove()
        return 0
      setTimeout(deleteResponse, 200);
      $(".home__form--response").append '<div class="response animated fadeInUp"></div>'
      $(".response").html htmlResponse
      pad = $(".response.animated").height()
      pad = if pad > 100 then getPosition($('.home__form')[0])['y'] - 10 else 0
      $('.home__form').css('transform', 'translateY(-'+pad+'px)')
    .on "ajax:error", (event) ->
      $(".home__form--response").html "<span class='empty'>Ошибка. Проверьте соединение с Интернетом</span>"

    focus = () ->
      $('.shade').fadeIn('fast')
      $('.response.animated').fadeIn()
      $('.response.anim').removeClass('anim fadeOutDown').addClass('animated fadeInUp');
      pad = $(".response.animated").height()
      pad = if pad > 100 then getPosition($('.home__form')[0])['y'] - 10 else 0
      $('.home__form').css('transform', 'translateY(-' + pad + 'px)')

    unfocus = () ->
      $('.shade').fadeOut('fast')
      $('.response.animated').removeClass('animated fadeInUp').addClass('anim fadeOutDown');
      $('.home__form').css('transform', 'translateY(0px)')
      hideResponse = () ->
        $('.response.fadeOutDown').hide()
        return 0
      setTimeout(hideResponse, 200);

    $('.home__form--field').on 'focus', () ->
     focus()
    .on 'blur', () ->
      setTimeout((event) ->
        unfocus() unless document.activeElement in $('a')
      , 1);
