$violet: #8e5fe5;
$shadow: 0 13px 10px -11px rgba(0,0,0,.05);
$shadow_hover: 0 34px 10px -24px rgba(0, 0, 0, 0.07);
$transition: 0.3s;
$gradient: linear-gradient(to left, rgb(0,140,255), rgb(130,153,238));
$field-background: #F2F2F2;

*{
  box-sizing: border-box;
}
input{
  outline: none;
  font-family: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
html{ height: 100%;}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: Gotham Pro, serif;
}
.response{
  transition: height 0.1s;
  will-change: height;
}
.main-full{ flex: 1; }
.container{
  margin: auto;
  max-width: 1170px;
  padding: 0 10px;
}
.flex-filter{ flex: 0 0 100%; text-align: center; }
.header{
  background: #fff;
  width: 100%;
  transition: background $transition;
  &.purple{
    box-shadow: $shadow;
    background: #37225a!important;
    .logo{
      margin: 20px 0!important;
    }
  }
  .container{
    display: flex;
    align-items: center;
  }
  &__nav{
    &__item{
      margin: 0 10px;
      font-size: 14px;
      font-weight: 200;
      color: grey;
      transition: color 0.2s;
      &:hover{
        color: $violet;
      }
    }
  }
}
.logo{
  font-size: 20px;
  padding-right: 30px;
  font-weight: 800;
  color: #3F51B5;
  height: 30px;
  margin: 30px 0;
  &--wrapper{
    flex: 1;
  }
}

.main-home{
  background-image: url(/assets/gradient_back.svg);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-top: 100px;
  .container{
    height: 100%;
  }
}

.teacher{
  display: flex;
  background: #fff;
  padding: 10px 20px;
  text-align: left;
  border-radius: 50px;
  box-shadow: $shadow;
  margin-bottom: 10px;
  align-items: center;
  transition: box-shadow $transition;
  &:first-child{
    background: #ffe357;
    .teacher__rate{
      color: #d07b1f;
    }
  }
  &:hover{
    box-shadow: $shadow_hover;
  }
  &__avatar{
    display: flex;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    &::before{
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__info{
    flex: 1;
    padding-left: 20px;
  }
  &__name{
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 300;
    color: #5a5a5a;
    line-height: 1.5em;
    padding-bottom: 0;
  }
  &__department{
    padding-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 200;
    transition: color $transition;
    &:hover{
      color: rgba(0,0,0,.8);
    }
  }
  &__rate{
    font-size: 19px;
    color: $violet;
    &--wrapper{
      padding: 0 20px;
    }
  }
}
.shade{
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.6);
  display: none;
  will-change: opacity;
}
.home__form{
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: auto;
  width: 100%;
  text-align: center;
  transition: transform 0.2s;
  will-change: transform;
  &--wrapper{
    position: relative;
    margin-bottom: 10px;
  }
  &--response{
    position: absolute;
    width: 100%;
  }
  &--field{
    width: 100%;
    padding: 22px;
    background: #fff;
    color: #282828;
    border: none;
    border-radius: 150px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    box-shadow: $shadow;
  }
  &--button{
    position: absolute;
    background-color: transparent;
    background-image: url(/assets/search_icon.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    border: none;
    height: 20px;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform $transition;
    will-change: transform;
    &:hover{
      transform: rotate(-10deg) translateY(-50%);
    }
  }
}
.empty{
  background: #efefef;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5;
  color: grey;
  box-shadow: $shadow;
}
.next-button{
  width: 50px;
  line-height: 50px;
  background: $gradient;
  display: inline-block;
  border-radius: 100%;
  color: #fff;
  border: none;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  box-shadow: $shadow;
  margin-top: 20px;
  transition: transform 0.15s;
  &:hover{
    transform: scale(1.1);
  }
  &-text{
    display: inline-block;
    border: none;
    background: $gradient;
    padding: 15px 20px;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    transition: transform $transition;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.footer{
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  color: grey;
  margin-top: 100px;
}
.title{
  font-size: 31px;
  margin-top: 30px;
  font-weight: 600;
  color: #282828;
  padding: 20px 0 0;
  margin-bottom: 8px;
}
.subtitle{
  padding: 5px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  color: #6d6d6d;
  margin-bottom: 30px;
}
.main-search{
  .empty{ margin-top: 20px; }
  .subtitle{ margin-top: 0; margin-bottom: 6px;
    display: block; }
}
.flex{ display: flex; }
.search{
  &__results{
    text-align: center;
    padding-top: 20px;
    .next-button-text{
      margin-top: 15px;
    }
  }
  &__content{
    flex: 1;
  }
  &__sidebar{
    margin-top: 20px;
    background: #fff;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: $shadow;
    padding: 20px;
    text-align: center;
    &--wrapper{
      flex: 0 0 25%;
    }
  }
  &-filter{
    .next-button-text{
      margin-top: 10px;
    }
  }
}
.top-teacher{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: visible;
  &__avatar{
    width: 200px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin: auto;
    &::before{
      content: '';
      padding-bottom: 100%;
    }
  }
  &__info{
    display: flex;
    background: #ffe000;
    align-items: center;
    border-radius: 100px;
    margin-top: -28px;
    overflow: hidden;
    box-shadow: $shadow;
    a{
      position: absolute;
      right: -150px;
      width: 150px;
      padding-right: 15px;
      text-align: right;
      color: #6b4d21;
      border-radius: 0 15px 15px 0;
      font-weight: 300;
      background: linear-gradient(to left, #fee008 80%, transparent);
      transition: right $transition;
    }
    &:hover a{
      right: 0;
    }
  }
  &__rate{
    padding: 15px;
    font-size: 20px;
    background: rgba(255,255,255,.4);
    border-radius: 100%;
    margin-right: 14px;
    color: #6b4d21;
    box-shadow: 1px 0px 20px rgba(0,0,0,.07);

  }
  &__fullname{
    flex: 1;
    font-size: 15px;
    font-weight: 200;
    color: rgba(0,0,0,.7);
    padding-right: 20px;
  }

}

.lil-title{
  color: #282828;
}
.selectric-items{ box-shadow: $shadow; }
.selectric{
  margin-bottom: 10px;
  transition: background $transition;
  &:hover{
    box-shadow: $shadow;
  }
}
.filter{
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #585858;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  &.gradient{
    background: $gradient;
    color: #fff;
  }
}
.filters-output{
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: $shadow;
}
.news{
  &__feed{ margin-top: 20px; }
}
.new{
  flex: 1;
  background: #fff;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  &--wrapper{
    display: flex;
    margin-bottom: 20px;
    box-shadow: $shadow;
  }
  &__title{
    font-size: 22px;
    font-weight: 500;
    color: #282828;
    line-height: 1.5;
    margin: 0;
  }
  &__description{
    margin: 5px 0 0;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 200;
    color: #5f5f5f;
  }
  &__footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__published{
    font-size: 12px;
    color: grey;
    padding: 15px 20px;
    background: #f1f1f1;
    border-radius: 30px;
    font-weight: 200;
  }
  &__image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    &--wrapper{
      flex: 0 0 300px;
      border-radius: 20px 0 0 20px;
      overflow: hidden;
      background-color: #f1f1f1;
    }
  }
}
.search--field{
  display: block;
  width: 100%;
  border: 0;
  background: #F2F2F2;
  color: grey;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  padding: 15px;
  border-radius: 100px;
  margin-bottom: 21px;
}
.main-login{
}
.login{
  text-align: center;
  max-width: 300px;
  margin: 100px auto auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 13px 10px -11px rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-align: center;
  &__title{
    font-size: 20px;
    font-weight: 400;
  }
  &--field{
    margin-bottom: 10px;
  }
  &--button{
    margin-top: 10px;
    padding: 15px 40px;
  }
  .empty{
    display: block;
    margin-bottom: 10px;
    background: #e0e8ff;
  }
}
.rating{
  &__description{
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: block;
    line-height: 1.3;
  }
  &__title{
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 5px;
    text-shadow: 4px 3px 0 #130c31;
    transform: skewY(-5deg);
  }
}
.top-10{
  background-image: url('/assets/flat-space-background.jpg');
  background-color: #37225a;
  padding: 110px 0 130px;
}
.teacher-page{
  &__header{
    padding: 60px 0;
    background: $gradient;
    .container{
      display: flex;
    }
  }
  &__avatar{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }
  &__info{
    padding-left: 40px;
    flex: 1;
    color: #fff;
  }
  &__name{
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__subtitle{
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    padding: 5px 0;
  }
  &__discipline{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background: rgba(255,255,255,.1);
    border-radius: 100px;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255,255,255,.7);
    &s{

      h3{
        margin-bottom: 10px;
      }
    }
  }
  &__rates{
    align-self: center;
  }
  &__average{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 40px;
    &--description{
      font-size: 16px;
      font-weight: 200;
      color: #fff;
    }
  }
}
.tags{
  margin-top: 20px;
  background: #fff;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  box-shadow: $shadow;
}
.tag{
  display: inline-block;
  padding: 10px 15px;
  background: whitesmoke;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 300;
  color: #5d5d5d;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 0.1s, box-shadow 0.1s;
  &:hover{
    box-shadow: $shadow;
    transform: scale(1.05);
  }
  &.active{
    background: #3d4a56;
    color: #fff;
  }
}
.grey-button{
  background: whitesmoke;
  display: block;
  padding: 15px;
  border-radius: 100px;
  font-weight: 200;
  color: grey;
}
.teacher__star{
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
}
.star{
  background-image: url('/assets/star.svg');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  &::before{
    content: '';
    padding-top: 100%;
  }
}
.commentaries{
  padding-top: 30px;
}
.commentary{
  display: flex;
  background: #fff;
  padding: 20px;
  box-shadow: $shadow;
  margin-top: 15px;
  border-radius: 4px;
  &__img{
    height: 100%;
    &--wrapper{
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
    }
  }
  &__body{
    padding: 0 20px;
    flex: 1;
    font-weight: 200;
    line-height: 1.5;
  }
  &-form{
    &__textarea{
      display: block;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      min-height: 150px;
      max-height: 300px;
      border-radius: 10px;
      background: $field-background;
      text-align: left;
      padding: 25px;
      font-family: inherit;
      font-size: 16px;
      font-weight: 200;
      border: none;
      outline: none;
    }
  }
  &__rate{
    display: flex;
    margin-top: 5px;
    img{
      width: 15px;
      height: 15px;
    }
  }
}
.form--button{
  font-family: inherit;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}
.non-auth-commentaries{
  text-align: center;
  p{
    font-size: 16px;
    font-weight: 200;
    color: grey;
    text-align: center;
  }
  .grey-button{
    display: inline-block;
  }
}

.admin-header{
  background: #fff;
  box-shadow: $shadow;
  .container{
    align-items: center;
  }
}